@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');



html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

header svg {
  vertical-align: middle;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
  width: 90vw;
  margin-inline: auto;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

img {
  flex: 3;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 60%;
}

.day {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 9px;
  background-color: #ffffffb8;
}

.project-name {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
a:visited {
  text-decoration: none;
  color: #717171;
}

a:active {
  color: #8f1d80;
}

.hover {
  transform: scale(1.05);
}


@media only screen and (min-width: 425px) {
  main{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 640px) {
  main{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1280px) {
  main {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 1920px) {
  main {
    width: 1920px;
    margin-inline: auto;
  }
}