@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #31647f;
  color: #fff;
  text-align: center;
}
