@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap');

:root {
  --size: 50vmin;
  --blur: 0px;
  --radius: 50%;
  --colour:  #fff;
  /* --colour:  #ffc600; */
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 100;
  background-color: #193549;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  margin: 50px 0 0 0;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin: 70px 0 20px 0;
}

.highlight {
  color: var(--colour);
}

.controls {
  font-size: 1.1rem;
  display: grid;
  width: 90vw;
  margin-inline: auto;
}

.photo-container {
  /* width: var(--size); */
  height: var(--size);
  margin: 20px auto;
  padding: 20px;
  box-sizing: content-box;
  background-color: var(--colour);
  /* background: url(https://source.unsplash.com/h9HxPKEdYbo/); */
  /* background-size: cover; */
  /* background-position: center; */
}

.photo-container img {
  max-width: 100%;
  object-fit: cover;
  width: var(--size);
  height: var(--size);
  filter: blur(var(--blur));
  border-radius: var(--radius);
}

input {
  width: 100%;
}

a,
a:visited,
a:active {
  color: #fff;
}

footer {
  position: fixed;
  bottom: 5px;
  width: 100vw;
}

@media only screen and (min-width: 640px) {

  .controls {
    grid-template-columns: repeat(4, 1fr);
    text-align: right;
    gap: 10px;
    font-size: 1.5rem;
  }

  label {
    padding: 0 10px;
  }
}