@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import '../css/variables.css';

html {
  background-color: var(--blue);
  --radius: 5px;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
input,
select {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h2,
h3 {
  color: #fff;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin: 70px 0 20px 0;
}

hr {
  background: #fff;
  height: 2px;
  border: none;
  margin: 10px 0;
}

input {
  min-width: 250px;
  font-size: 1em;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  padding: 6px 15px;
}

input, button, select {
  border: 2px solid #EFEFEF;
}

input:active,
input:focus,
button:active,
button:hover,
button:focus,
select:focus {
  border: 2px solid var(--yellow);
  outline: none;
}

select {
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
}

button {
  padding: 2px 15px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.data-list {
  min-width: 400px;
  width: 100%;
  margin-top: 10px;
  border-collapse: separate;
  border-spacing: 0;
}

.data-list th {
  background-color: var(--yellow);
  color: var(--blue);
  font-weight: 700;
  text-align: left;
}

.data-list th,
.data-list td {
  border: 1px solid var(--blue);
  padding: 5px 10px;
}

.data-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-list tr:nth-child(odd) {
  background-color: #fff;
}

.data-list tr:hover {
  background-color: #ddd;
}

/* Border radius */
.data-list tr:first-child th:first-child {
  border-top-left-radius: var(--radius);
}

.data-list tr:first-child th:last-child {
  border-top-right-radius: var(--radius);
}

.data-list tr:last-child td:first-child {
  border-bottom-left-radius: var(--radius);
}

.data-list tr:last-child td:last-child {
  border-bottom-right-radius: var(--radius);
}

.error {
  color: #f44336;
  margin: 5px 0;
}

.result {
  color: #4caf50;
  margin: 5px 0;
}

.btn-delete {
  float: right;
  cursor: pointer;
}