@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

html {
  background-color: #193549e5;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 200;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.search {
  width: 40vw;
  font-size: 2.8em;
  border-radius: 3px;
  border: none;
  outline: 3px solid #EFEFEF;
  padding: 10px 20px;
}

.search:focus, .search:active {
  outline: 5px solid #EFEFEF;
}

.list {
  margin: 3px 0;
  padding: 0;
  font-size: 1.4em;
}

.city {
  width: 40vw;
  margin: 1px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city:nth-of-type(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(1px);
  background: linear-gradient(to top, #ffffff 0%,#EFEFEF 100%);
}

.city:nth-of-type(even) {
  transform: perspective(100px) rotateX(3deg) translateY(0px);
  background: linear-gradient(to bottom, #ffffff 0%,#EFEFEF 100%);
}

.population {
  font-size: 0.7em;
}